Repository Kelketek/providence: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm-push-providence, npm-push-providence-redux

.gitlab-ci.yml:

---
stages:
  - quality
  - test
  - deploy

eslint:
  stage: quality
  image: node:17-alpine
  script:
    - apk add git make bash
    - make install_prereqs
    - make quality

.testing_script:
  script:
    - apk add git make bash
    - make install_prereqs
    - make test

tests-node18:
  extends: .testing_script
  stage: test
  image: node:18-alpine

tests-node17:
  extends: .testing_script
  stage: test
  image: node:17-alpine

tests-node16:
  extends: .testing_script
  stage: test
  image: node:16-alpine

documentation:
  stage: test
  image: nikolaik/python-nodejs:python3.8-nodejs18-alpine
  script:
    - apk add git make bash
    - cd providence && npm install
    - cd providence && pip install -r docs/requirements.txt
    - cd providence && pip install docs/
    - cd providence/docs && make html

npm-push-providence:
  stage: deploy
  image: node:18-alpine
  only:
    refs:
      - master
    changes:
      - providence/**
  script:
    - apk add git make bash
    - cd providence && make install_prereqs
    - npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
    - make publish

npm-push-providence-redux:
  stage: deploy
  image: node:18-alpine
  only:
    refs:
      - master
    changes:
      - providence-redux/**
  script:
    - apk add git make bash
    - cd providence-redux && make install_prereqs
    - npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
    - make publish

build: Fix module build method for import.
  providence-redux/Makefile
  providence-redux/jest.config.js
  providence-redux/package-lock.json
  providence-redux/package.json
  providence-redux/src/context.ts
  providence-redux/src/helpers.ts
  providence-redux/src/hooks.ts
  providence-redux/src/index.ts
  providence-redux/src/specs/Lister.tsx
  providence-redux/src/specs/forms.spec.tsx
  providence-redux/src/specs/helpers.spec.tsx
  providence-redux/src/specs/helpers.tsx
  providence-redux/src/specs/list.spec.tsx
  providence-redux/src/specs/singles.spec.tsx
  providence-redux/src/storeProxy.ts
  providence-redux/tsconfig.json
  providence/package-lock.json
  providence/package.json
  providence/src/index.mts
Due: npm-push-providence, npm-push-providence-redux

fix: Ensure test helpers are available for export.
  docs/docs/testing/redux.md
  providence-redux/src/specs/forms.spec.tsx
  providence-redux/src/specs/helpers.spec.tsx
  providence-redux/src/specs/list.spec.tsx
  providence-redux/src/specs/singles.spec.tsx
  providence-redux/src/testHelpers.tsx
  providence/src/base/lib/testHelpers.ts
Due: none

fix: Auto-publishing of providence-redux
  .gitlab-ci.yml
  providence-redux/Makefile
  providence-redux/package-lock.json
Due: npm-push-providence-redux

feat: Version bump
  providence-redux/package.json
Due: npm-push-providence-redux

[BB-8082] Fix: setState errors from React
  docs/docs/testing/redux.md
  providence-redux/Makefile
  providence-redux/package.json
  providence-redux/src/specs/Singler.tsx
  providence-redux/src/specs/forms.spec.tsx
  providence-redux/src/specs/helpers.spec.tsx
  providence-redux/src/specs/list.spec.tsx
  providence-redux/src/specs/singles.spec.tsx
  providence-redux/src/testHelpers.tsx
  providence/package.json
  providence/src/base/lib/fragments.ts
  providence/src/base/lists/controller.ts
  providence/src/base/lists/index.ts
  providence/src/base/registry/index.ts
Due: npm-push-providence, npm-push-providence-redux

feat: Single component for monitoring changes to entries of lists.
  docs/docs/module_types/lists.md
  providence-redux/package.json
  providence-redux/src/components/Single.tsx
Due: npm-push-providence-redux
